.header_intro{
    background-color: #EBF5FF;
}

.top{
    display: flex;
    margin-bottom: 200px;
    padding-left: 50px;
    padding-top: 30px;
   
}

.baha{
    display: flex;
}

.form_intro{
    text-decoration: none;
    padding-right: 50px;
    color: black;
}

.intro{
    text-decoration: none;
    margin-left: 500px;
    color: #258AFF;
    width: 129px;
    height: 26px;
    text-align: center;
    padding-top: 9px;
    border: 2px solid #258AFF;
    font-weight: bold;
    font-size: 16px;
}

.logo_black {
    padding-right: 50px;
    width: 96px;
    height: 21px;
}

.bup{
    display: flex;
}

li{
    padding-right: 50px;
}

.welf{
    text-align: center;
    margin-bottom: 170px;
}

.knock{
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 0px;
}


h1{
    font-size: 70px;
    margin-top: 26px;
    width: 600px;
    height: 170px;
    margin-left: 376px;
    margin-bottom: 0px;
}

.reate{
    margin-left: 353px;
    margin-top: 15px;
    width: 581px;
    height: 70px;
    color: #666666;
    font-size: 21px;
    margin-bottom: 0px;
}

p{
    color: #878B90;
    font-size: 17px;
}

.noir{
    display: flex;
    margin-left: 450px;
}

.form_gstart{
    color: white;
    background: #FC593B;
    border: 2px solid #FC593B;
    margin-left: 5px;
    width: 175px;
    height: 49px;
    margin-top: 18px;
    font-weight: bold;
    font-size: 16px;
}

.eyemail{
    width: 256px;
    height: 49px;
    background: #EEF4F5;
    border: 2px solid #EEF4F5;
    font-size: 16px;
    padding-left: 25px;
}

h3{
    font-weight: bold;
    font-size: 21px;
}


.coyx{
    display: flex;
    height: 270px;
    width: 1333px;
}

.pox{
    display: flex;
    margin-left: 80px;
    padding-right: 50px;
}

.zoo{
    display: flex;
    padding-right: 50px;
}

.boxy{
    display: flex;
    padding-right: 50px;
}

.iky{
    width: 34px;
    height: 34px;
    margin-right: 25px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.vic{
    width: 266.984;
    height: 112px;
}

.herb{
    background: #258AFF;
    display: flex;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 100px;
}

.midphone{
    width: 376px;
    height: 483px;
}

.noxs{
    padding-left: 100px;
}

.lime{
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 55px;
    letter-spacing: 3px;
}

.slime{
    color: white;
    font-weight: 700px;
    font-size: 48px;
    height: 100px;
    width: 523px;
}

.clime{
    color: #E4E4E4;
    font-weight: normal;
    font-size: 18px;
    width: 385px;
    height: 65px;
    margin-bottom: 6px;
}


.form_start{
    background-color: white;
    color: #258AFF;
    border: 2px solid white;
    width: 210px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-top: 48px;
}

.berh{
    background-color: #EBF5FF;
    display: flex;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 100px;
}

.xons{
    padding-left: 20px;
    padding-right: 210px;
}

.mile{
    color: #258AFF;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 55px;
    letter-spacing: 3px;
}

.sime{
    color: black;
    font-weight: 700px;
    font-size: 48px;
    height: 100px;
    width: 523px; 
}

.smile{
    color: #666666;
    font-weight: normal;
    font-size: 18px;
    width: 385px;
    height: 65px;
    margin-bottom: 6px;
}

.yocx{
    display: flex;
    margin-top: 70px;
}

.zock {
    padding-left: 70px;
}

.zim{
    background: #258AFF;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    margin-bottom: 32px;
}

.kiy{
    width: 27px;
    height: 27px;
    margin-top: 19px;
    padding-right: 4px;
}

.civ{
    width: 190px;
    height: 112px;
}

.piks{
    color: #666666;
}

.dips{
    width: 356px;
    height: 696px;
}

.jicks{
    background-color: #EBF5FF;
    display: flex;
    padding-top: 130px;
    padding-bottom: 100px;
    padding-left: 100px
}

.icks{
    margin-top: 120px;
    margin-right: 20px;
}

.halics{
    margin-left: 20px;
    height: 600px;
    margin-bottom: 50px;
}

.dime{
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 48px;
    width: 330px;
    height: 110px;
}


.nile{
    color: #666666;
    margin-top: 5px;
    font-weight: normal;
    font-size: 18px;
    width: 305px;
    height: 82px;
}

.diaz{
    background-color: #EBF5FF;
    height: 170px;
}

.falics{
    display: flex;
}

.adias{
    display: flex;
    padding-left: 100px;
}

.locks{
    padding-right: 70px;
}

.mocks{
    padding-right: 70px;
}

.nocks{
    padding-right: 70px;
}

.jocks{
    padding-right: 70px;
}

.alics{
    display: flex;
}

.mou{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.cat{
    font-size: 15px;
    color: #666666;
}

.zil{
    width: 43px;
    height: 43px;
    margin-right: 22px;
    margin-top: 20px;
}

.hocks{
    padding-right: 90px;
}

.micks{
    margin-top: 15px;
}

.valics{
    padding: 35px 35px 35px 35px;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.salics{
    padding: 35px 35px 35px 35px;
    width: 300px;
    height: 165px;
    background-color: white;
    border-radius: 5px;
    margin-right: 30px;
}

.yalics{
    padding: 35px 35px 35px 35px;
    width: 280px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    margin-right: 30px;
    margin-top: 30px;
}

.malics{
    padding: 35px 35px 35px 35px;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    margin-right: 30px;
}

.mat{
    width: 250px;
    height: 100px;
    color: black;
}

.nat{
    width: 304px;
    height: 60px;
    color: black;
}

.falics{
    height: 270px;
    width: 780px;
}

.price_area{
    background: url(../micro1/microProjI/l5-pricing-bg.png);
}

.maix{
    margin-top: 0px;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    padding-top: 130px;
    margin-bottom: 55px;
    text-align: center;
}

.dix{
    color: #FFFFFF;
    width: 530px;
    height: 110px;
    text-align: center;
    padding-left: 416px;
    font-size: 48px;
}

.prize{
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
}

.price1{
    background: #2B405A;
    padding: 50px 50px 50px 50px;
    width: 247px;
    height: 390px;
    border: 2px solid #2B405A;
    border-radius: 6px;
}

.saz{
    margin-bottom: 30px;
    color: #E5E5E5;
    font-weight: bold;
    font-size: 13px;
}

.lox{
    display: flex;
    width: 247px;
    height: 100px;
    padding-top: 35px;
}

.dolar{
    padding-top: 6px;
    padding-right: 6px;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
}

.dax{
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}

.quad{
    font-size: 17px;
}

.vax{
    margin-top: 14px;
    margin-bottom: 20px;
    width: 270px;
    height: 40px;
    font-size: 14px;
    color: #E5E5E5;
}


.niphxs{
    text-decoration: none;
}

.price2{
    background: white;
    margin-left: 30px;
    width: 310px;
    height: 390px;
    border: 2px solid white;
    border-radius: 6px;
}

.baz{
    margin-bottom: 30px;
    color: #666666;
    font-weight: bold;
    font-size: 13px;
}


.draf{
    background: #4EAB08;
    margin-left: 150px;
    border-radius: 13px;
    color: #fff;
    padding: 9px 20px;
    font-weight: bold;
    font-size: 11px;

}

.bolar{
    font-weight: bold;
    font-size: 30px;
    color: #1F1F1F;
}

.fax{
    font-weight: bold;
    font-size: 50px;
    color: #1F1F1F;
}

.gax{
    width: 270px;
    height: 40px;
    font-size: 14px;
    color: #666666;
}

.footer{
    background-color: #EBF5FF;
    display: flex;
    padding-top: 130px;
    padding-bottom: 100px;
    padding-left: 100px
}

ul{
    list-style-type: none;
}

.liz{
    margin-bottom: 20px;
    width: 315px;
    height: 60px;
    font-size: 16px;
    color: #666666;
}

.hix{
    display: flex;
}

.meal{
    color: #878B90;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 14px;
    
}

.cix{
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    margin-bottom: 35px;
    width: 70px;
    height: 16px;
    margin-left: 40px;
}

.bix{
    margin-right: 30px;
    margin-left: 20px;
}

.tig{
    margin-left: 9px;
    margin-right: 9px;
}

.ril{
    margin-top: 55px;
}

.izl{
    margin-top: 35px;
}

.rox{
    margin-bottom: 8px;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 32px
}

.rux{
    color: #878B90;
    margin-bottom: 8px;
    padding: 0;
    font-size: 17px;
    line-height: 32px;
    text-decoration: line-through;
}

.rux1{
    color: #878B90;
    margin-bottom: 50px;
    padding: 0;
    font-size: 17px;
    line-height: 32px;
    text-decoration: line-through;
}

.rex{
    font-size: 17px;
    line-height: 32px;
    color: #1F1F1F;
    margin-bottom: 8px;

}

.rex1{
    font-size: 17px;
    line-height: 32px;
    color: #1F1F1F;
    margin-bottom: 50px;

}